#AuthName "What do you want?"
#AuthType Basic
#AuthUserFile /path from file pwd.php/.htpasswd
#require valid-user

# htpasswd generator: http://www.htaccesstools.com/htpasswd-generator/

RewriteEngine On
RewriteBase    /
RewriteRule    "^api/(.*)$"  "http://server_ip/api/$1"  [P]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
